<div class="card mt-2">
  <div class="card-header">Detalles del servicio</div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Nombre:
        <h5>{{ servicio.nombre }}</h5>
      </li>
      <li class="list-group-item">
        Forma de contacto:
        <h5>{{ servicio.formacontacto }}</h5>
      </li>
      <li class="list-group-item">
        Precio del servicio:
        <h5>{{ servicio.precio }}</h5>
      </li>
      <li class="list-group-item">
        Ubicacion:
        <h5>{{ servicio.ubicacion }}</h5>
      </li>
      <li class="list-group-item">
        Descripcion:
        <h5>{{ servicio.descripcion }}</h5>
      </li>
    </ul>
  </div>

  <div class="btn-group" role="group">
    <button class="btn btn-warning m-1 btn-sm" (click)="onGotoEdit()">
      Editar
    </button>
    <button class="btn btn-danger m-1 btn-sm" (click)="onGotoDelete()">
      Eliminar
    </button>
  </div>
</div>
<!--40:52 button edit-->
<button class="btn btn-primary mt-2" (click)="onGoBackToList()">
  Volver a la lista
</button>
<!--{{ servicio | json }}-->
